<header>
    <article>
        <h1><a href="/">TableTop</a></h1>

        <div class="profile-menu">
            <% if (typeof player === 'object' && player) { %>
                <p>Player: <%= player.playerName %></p>
                <p><a href="/sign-out">sign out</a></p>
            <% } else { %>
                <p><label for="sign-in-modal">sign in</label></p>
            <% } %>
        </div>
    </article>
</header>

<% if (data.formErrors && data.nameOfFormWithErrors === 'sign-in-form') { %>
    <input hidden="" checked="" type="checkbox" id="sign-in-modal"/>
<% } else { %>
    <input hidden=""  type="checkbox" id="sign-in-modal"/>
<% }  %>

<aside class="modal toggled">
    <div class="modal-content">
        <div class="close-button-holder"><label class="close-button" for="sign-in-modal">X</label></div>
        <form data-role="sign-in-form" method="POST" action="/">
            <input hidden="true" readonly="true" name="formRole" id="formRole" value="sign-in-form"/>
            <h2>Sign in</h2>
            <div>
                <label>Name:</label>
                <input name="playerName" id="playerName" type="text"/>
            </div>
            <input type="submit"/>
            <% if (data.formErrors && data.nameOfFormWithErrors === 'sign-in-form') { %>
                <%= data.formErrors.toString() %>
            <% } %>
        </form>
    </div>
</aside>