<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <% for(var i=0; i<scripts.length; i++) { %>
        <script src="/javascripts/<%= scripts[i] %>"></script>
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>