<!DOCTYPE html>
<html>

  <%- include('includes/head', {title:title, scripts:['sheetspage.js'], extraStyleSheets:['game.css']}); %>

  <body>
      <%- include('includes/header', {
        player: (typeof player !== 'undefined' ? player : null ),
        data:   (typeof data !== 'undefined' ? data : {} ),
      }); %>

    <main class="content">
      <div id="app"></div>
    </main>

    <%- include('includes/footer'); %>
  </body>
</html>
