<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - <%= game %></title>
    <link rel='stylesheet' href='/stylesheets/base.css' />

  </head>
  <body>

    <h1><a href="/"><%= title %></a></h1>
    <h2><%= game %></h2>

    <div id="app"></div>

    <script src="/javascripts/app.js"></script>
  </body>
</html>
