<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <script src='./javascripts/demo.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="frame">
      <article class="red card">
        <h2>heading</h2>
      </article>
      
      <article class="green card">
        <h2>heading</h2>
      </article>

      <article class="blue card">
        <h2>heading</h2>
      </article>

    </div>

  </body>
</html>
