<!DOCTYPE html>
<html>

  <%- include('includes/head', {title:title, scripts:['homepage.js']}); %>

  <body>
    <%- include('includes/header', {player: (typeof player !== 'undefined' ? player : null ) }); %>

    <section class="content">
      <div id="app"></div>
    </section>

    <section class="content">
      <h2>Sign in</h2>
      <form data-role="sign-in-form" method="POST" action="/">
        <div>
          <label>Name:</label>
          <input name="playerName" id="playerName" type="text"/>
        </div>
        <input type="submit"/>
        <% if (data.formErrors && data.nameOfFormWithErrors === 'createPlayer') { %>
          <%= data.formErrors.toString() %>
        <% } %>
      </form>
    </section>

    <section class="content">
      <h2>Create New Game</h2>
      <form data-role="create-game-form" method="POST">
        <div>
          <label>Game Master's Name:</label>
          <input name="gmName" id="gmName" type="text"/>
        </div>
        <div>
          <label>Game Name:</label>
          <input name="gameName" id="gameName" type="text"/>
        </div>
        <div>
          <label>What game are you playing?</label>
          <input name="rpgName" id="rpgName" type="text"/>
        </div>
        <input type="submit"/>
      </form>
    </section>

    <%- include('includes/footer'); %>
  </body>
</html>
