<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/base.css' />

  </head>
  <body>

    <div class="status-bar">
      <p>UserName:<span id="user-name-indicator"></span></p>
    </div>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div id="app"></div>

    <form class="sign-in-form" data-role="sign-in-form">
      <label for="userName">User name:</label>
      <input type="text" name="userName" />
      <input type="submit" value="go"/>
    </form>

    <div id="app"></div>

    <div class="frame">
      <article class="red card">
        <h2>heading</h2>
        <div id="test-d6">roll d6</div>
        <div id="test-d10">roll d10</div>
      </article>
      
      <article class="green card">
        <h2>heading</h2>
      </article>

      <article class="blue card">
        <h2>heading</h2>
      </article>

    </div>

    <script src='./javascripts/socket.js'></script>
    <script src="./javascripts/app.js"></script>
  </body>
</html>
