<!DOCTYPE html>
<html>

  <%- include('includes/head', {title:title, scripts:['homepage.js']}); %>

  <body>
      <%- include('includes/header', {
        player: (typeof player !== 'undefined' ? player : null ),
        data:   (typeof data !== 'undefined' ? data : {} ),
      }); %>

    <main class="content">


      <form class="create-game-form" data-role="create-game-form" method="POST">
        <% if (!player) { %>
          <h2>Sign in and Create New Game</h2>
        <% } else { %>
          <h2>Create New Game</h2>
        <% } %>

        <% if (!player) { %>
          <div>
            <label>Game Master's Name:</label>
            <input required name="gmName" id="gmName" type="text"/>
          </div>
        <% } %>
        <div>
          <label>Game Name:</label>
          <input required name="gameName" id="gameName" type="text"/>
        </div>
        <div>
          <label>What game are you playing?</label>
          <input name="rpgName" id="rpgName" type="text"/>
        </div>
        <div>
          <input class="button" type="submit"/>
        </div>
      </form>

      <div id="app"></div>
    </main>

    <%- include('includes/footer'); %>
  </body>
</html>
