<!DOCTYPE html>
<html>
  <%- include('includes/head', {title:`${title}` , scripts:[]}); %>

  <body>

    <%- include('includes/header', {player: (typeof player !== 'undefined' ? player : null ) }); %>

    <main class="content">
        <h2>Good bye</h2>
        <p>You have signed out. Thank you for playing.</p>
    </main>

    <%- include('includes/footer'); %>


  </body>
</html>
