@mixin button-hover($size) {
    transition: transform .5s, box-shadow .5s;
    transform: translateY(-1px);

    @if $size == 'small' {
        box-shadow: $shadow-5;
    } @else {
        box-shadow: $shadow-6;
    }

    &:not(.button--disabled){
        &:hover,&:focus {
            outline: none;
            @if $size == 'small' {
                box-shadow: $shadow-4;
            } @else {
                box-shadow: $shadow-5;
            }
        
            transform: translateY(0);
        }
    }
}

.button {
    display: inline-block;
    min-width: 6em;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    padding: ($std-space/2);
    margin: ($std-space/2) $std-space;
    border: none;
    background-color: $color-shade;
    font-family: $font-main;
    font-size: small;

    @include button-hover(medium);

    &--dice {
        min-width: unset;
        margin: $std-space/2;
        padding: 0;
    }

    &--disabled {
        background-color: gray;
        box-shadow: none;
        transform: none;
        cursor: default;
    }
}

.radio-label {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    padding: ($std-space/2) $std-space;
    margin: ($std-space/2) $std-space;
    border: none;
    background-color: $color-shade;
    font-family: $font-main;
    font-size: small;
    border-radius: 1em;

    transition: transform .5s, box-shadow .5s;
    transform: translateY(-3px);
    box-shadow: $shadow-6;

    &--disabled {
        background-color: gray;
    }
}

input:checked+.radio-label {
    transform: translateY(0);
    box-shadow: none;
}

.stud-button {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    width: 1rem;
    flex-shrink: 0;

    height: 1rem;
    line-height: .1rem;
    margin-left: .2rem;

    &>span {
        font-size: small;
        text-align: center;
    } 

    background-color: $color-contrast;

    @include button-hover(small);

    &--red {
        background-color: red;
    }

    &--green {
        background-color: green;
    }
}


