.display-cs-group {
    margin: 0;
    list-style: none;
    padding: 0;
    width: inherit;
    max-width: inherit;

    &__key {
      font-size: smaller;
      flex-basis: 3rem;
    }

    &__value {
      font-size: small;
      font-weight: 700;
    }

    &__datum-wrapper {
      box-sizing: border-box;
    }

    &__datum {
      margin-bottom: .2em;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      width: 100%;
    }

    &--two-col {
      display: flex;
      flex-wrap: wrap;


      &>.display-cs-group__datum, &>.display-cs-group__datum-wrapper {
        flex-basis: 50%;
        
        &:nth-child(2n) {
          padding-left: 0.25rem;
        }

        &:nth-child(2n+1) {
          padding-right: 0.25rem;
        }
      }
    }

    input {
      font-weight: 400;
      background: white;
      border: none;
      border-bottom: 3px double black;
    }

    input[type="text"] {
      width: 5em;
    }

    input[type="number"] {
      width: 3em;
      text-align: right;
    }
}


