.roll-zone {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content:space-around;
    justify-content:space-evenly;
    perspective: 75vw;
    background-color: $color-contrast;
    overflow: auto; 
    resize: vertical;
    max-width: 100%;

    padding: 0; 
    margin: 0; 
    box-sizing: border-box;

    &--control {
        min-height:100px; 
        padding: .5em 1.5em 1.5em 1.5em;
    }
}
