.roll-zone {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content:space-around;
    justify-content:space-evenly;
    perspective: 75vw;
    background-color: $color-contrast;
    overflow: auto; 
    resize: both;
    max-width: 100%;

    padding: 0; 
    margin: 0; 
    box-sizing: border-box;

    &--control {
        margin: .5rem; 
        min-height:100px; 
        width: 360px;
        padding: 1.4em 0;
    }
}
