.storage-control {
    background-color: $color-contrast;
    box-shadow: $shadow-4;
    width: 100%;
    min-width: 15rem;
    max-width: 15rem;
    box-sizing: border-box;
    margin-bottom: $std-space;
    position: relative;
    min-height: 12rem;
    display: flex;
    flex-direction: column;

    &__load-form {
        display: flex;
        flex-direction: column;
        min-height: inherit;
        box-sizing: border-box;
        justify-content: space-between;
        padding: $std-space ($std-space/2);

        .warning {
            margin: 0;
            min-height: 1.5em;
            font-size: small;
            text-align: center;
        }
    }
}


.storage-list {
    list-style: none;
    min-height: 8rem;
    padding: $std-space;
    color: white;
    position: relative;
    margin: $std-space 0;

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $std-space;

        &.empty-list-message {
            justify-content: center;
            color: lightgray;
        }

        p { 
            cursor: pointer;
            margin: 0;
        }

        div { 
            cursor: pointer;
            margin: 0;
            color: red;
        }
    }
}
