$color-shade: #9B1B30;
$color-text: #0F2003;
$color-page: #EDE0DE;
$color-contrast: #3C7218;
$font-main: "Lucida Grande", Helvetica, Arial, sans-serif;
$font-heading: Georgia, serif;

$font-alt-heading: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$font-alt-body: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$std-space: .5rem;
$shadow-6 :1px 3px 6px 1px black;
$shadow-5 :1px 1px 5px 0 black;
$shadow-4 :0px 1px 4px 0 black;
