$std-space: .5rem;
$shadow-1 :1px 3px 6px 1px black;

@import './style';
@import './card';
@import './form';


.status-bar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    color: antiquewhite;
}

.frame {
    margin: $std-space;
    padding: $std-space;
    border: 4px double black;
    display: flex;
    flex-wrap: wrap;
}
