@import './variables';

@import './page';
@import './form';
@import './modal';
@import './button';
@import './table';
@import './profile-menu';

.warning {
    color: $color-warning;
}

.frame {
    margin: $std-space 0;
    padding: $std-space;
    border: 4px double $color-text;
}
